// Auxiliares
.block {
    display: block;
}

.mt {
    margin-top: 400px !important;
}

.lg {
    font-size: $font-size * 1.5;
    line-height: $font-size * 1.5;
}

.narrow {
    width: 75% !important;
}