// Auxiliares
.block {
    display: block;
}

.mt {
    margin-top: 400px !important;
}

.lg {
    font-size: $font-size * 1.5;
    line-height: $font-size * 2.2;
    text-align: left;
}

.narrow {
    width: 75%;
}

.rot180{
    display: inline-block;
    transform: rotate(180deg);
}

.infame {
    font-weight: 300;
    display: inline-block;
    /* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
    animation: infame-skew 1s infinite linear alternate-reverse;
    /* // Creates a copy before our text. */
    /* Creates a copy after our text. Note comments from ::before. */
    text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
}

.infame::before {
    /* // Duplicates our text with the mixin. */
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* // Scoots text slightly to the left for the color offset. */
    left: 2px;
    /* // Creates the color 'shadow' that happens on the infame. */
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our infame. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the infame at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our infame-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
    animation: infame-anim 5s infinite linear alternate-reverse;
}

.infame::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: infame-anim2 1s infinite linear alternate-reverse;
}


/* Creates an animation with 20 steaps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random infame effect. Also adds a very subtle skew to change the 'thickness' of the infame.*/

@keyframes infame-anim {
    0% {
        clip: rect(53px, 9999px, 97px, 0);
        transform: skew(0.95deg);
    }
    5% {
        clip: rect(51px, 9999px, 67px, 0);
        transform: skew(0.58deg);
    }
    10% {
        clip: rect(79px, 9999px, 17px, 0);
        transform: skew(0.61deg);
    }
    15% {
        clip: rect(72px, 9999px, 93px, 0);
        transform: skew(0.07deg);
    }
    20% {
        clip: rect(45px, 9999px, 71px, 0);
        transform: skew(0.64deg);
    }
    25% {
        clip: rect(23px, 9999px, 97px, 0);
        transform: skew(0.57deg);
    }
    30% {
        clip: rect(25px, 9999px, 15px, 0);
        transform: skew(0.85deg);
    }
    35% {
        clip: rect(6px, 9999px, 93px, 0);
        transform: skew(0.67deg);
    }
    40% {
        clip: rect(46px, 9999px, 23px, 0);
        transform: skew(0.21deg);
    }
    45% {
        clip: rect(67px, 9999px, 62px, 0);
        transform: skew(0.84deg);
    }
    50% {
        clip: rect(3px, 9999px, 38px, 0);
        transform: skew(0.68deg);
    }
    55% {
        clip: rect(34px, 9999px, 10px, 0);
        transform: skew(0.69deg);
    }
    60% {
        clip: rect(1px, 9999px, 2px, 0);
        transform: skew(0.28deg);
    }
    65% {
        clip: rect(4px, 9999px, 30px, 0);
        transform: skew(0.47deg);
    }
    70% {
        clip: rect(91px, 9999px, 35px, 0);
        transform: skew(0.52deg);
    }
    75% {
        clip: rect(57px, 9999px, 73px, 0);
        transform: skew(0.36deg);
    }
    80% {
        clip: rect(32px, 9999px, 31px, 0);
        transform: skew(0.2deg);
    }
    85% {
        clip: rect(41px, 9999px, 91px, 0);
        transform: skew(0.19deg);
    }
    90% {
        clip: rect(6px, 9999px, 84px, 0);
        transform: skew(0.87deg);
    }
    95% {
        clip: rect(18px, 9999px, 24px, 0);
        transform: skew(0.07deg);
    }
    100% {
        clip: rect(52px, 9999px, 7px, 0);
        transform: skew(0.8deg);
    }
}


/* Same deal, just duplicated for ultra randomness. */

@keyframes infame-anim2 {
    0% {
        clip: rect(77px, 9999px, 53px, 0);
        transform: skew(0.83deg);
    }
    5% {
        clip: rect(75px, 9999px, 78px, 0);
        transform: skew(0.41deg);
    }
    10% {
        clip: rect(39px, 9999px, 45px, 0);
        transform: skew(0.08deg);
    }
    15% {
        clip: rect(100px, 9999px, 15px, 0);
        transform: skew(0.76deg);
    }
    20% {
        clip: rect(100px, 9999px, 17px, 0);
        transform: skew(0.67deg);
    }
    25% {
        clip: rect(11px, 9999px, 54px, 0);
        transform: skew(0.68deg);
    }
    30% {
        clip: rect(8px, 9999px, 98px, 0);
        transform: skew(0.52deg);
    }
    35% {
        clip: rect(24px, 9999px, 22px, 0);
        transform: skew(0.45deg);
    }
    40% {
        clip: rect(43px, 9999px, 67px, 0);
        transform: skew(0.31deg);
    }
    45% {
        clip: rect(60px, 9999px, 92px, 0);
        transform: skew(0.91deg);
    }
    50% {
        clip: rect(91px, 9999px, 100px, 0);
        transform: skew(0.19deg);
    }
    55% {
        clip: rect(14px, 9999px, 86px, 0);
        transform: skew(0.17deg);
    }
    60% {
        clip: rect(35px, 9999px, 100px, 0);
        transform: skew(0.78deg);
    }
    65% {
        clip: rect(44px, 9999px, 81px, 0);
        transform: skew(0.86deg);
    }
    70% {
        clip: rect(97px, 9999px, 16px, 0);
        transform: skew(0.01deg);
    }
    75% {
        clip: rect(86px, 9999px, 42px, 0);
        transform: skew(0.52deg);
    }
    80% {
        clip: rect(42px, 9999px, 27px, 0);
        transform: skew(0.69deg);
    }
    85% {
        clip: rect(32px, 9999px, 88px, 0);
        transform: skew(0.6deg);
    }
    90% {
        clip: rect(88px, 9999px, 39px, 0);
        transform: skew(0.58deg);
    }
    95% {
        clip: rect(70px, 9999px, 59px, 0);
        transform: skew(0.87deg);
    }
    100% {
        clip: rect(28px, 9999px, 68px, 0);
        transform: skew(0.29deg);
    }
}


/* // Does the same deal as before, but now only skews. Used for main text. */

@keyframes infame-skew {
    0% {
        transform: skew(2deg);
    }
    10% {
        transform: skew(-1deg);
    }
    20% {
        transform: skew(2deg);
    }
    30% {
        transform: skew(-3deg);
    }
    40% {
        transform: skew(5deg);
    }
    50% {
        transform: skew(-4deg);
    }
    60% {
        transform: skew(4deg);
    }
    70% {
        transform: skew(3deg);
    }
    80% {
        transform: skew(1deg);
    }
    90% {
        transform: skew(0deg);
    }
    100% {
        transform: skew(-2deg);
    }
}