/*

Variables

*/


/* space */

$max-width: 72rem;
$nav-block-size: 60px;
$page-padding: 3rem;

/* fonts */

$main-header-size: 12rem;
$font-size: 1.1rem;
$font-size-lg: 1.4rem;
$font-size-hero: 3rem;
// @import url("https://use.typekit.net/jah7txk.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* color */

$color-white: #f3fffd;
$color-white-fade: #fefbff8a;
$color-page: #f0e7d2f3;
$color-ahuesado:#fffaf09f;
$color-background: #c30031;
$color-black-fade: #200622c7;
$color-type: #200622e7;
$color-main: $color-background;

/* cata colors */

$color-blue-dark:#181a33;
$color-blue:#4a65b6;
$color-cyan:#29c0cd;
$color-pink: #f13681;
$color-green: #c0dc15;
$color-bone:#E6E5C9;
$color-white: #F9F9FB;