/*

Variables

*/


/* space */

$width-max: 960px;
$nav-block-size: 60px;
$page-padding: 3rem;

/* fonts */

$main-header-size: 150px;
@import url("https://use.typekit.net/jah7txk.css");

/* color */

$color-page: #f0e7d2f3;
$color-ahuesado:#fffaf0d8;
$color-background: #c30031;
$color-black-fade: #20062283;
$color-type: #200622f8;
$color-main: #0e5970bf;