/*

Variables

*/

@import url("https://use.typekit.net/jah7txk.css");

/*

Upgrade Medium
    font-family: upgrade, sans-serif;
    font-weight: 400;

Upgrade Black
    font-family: upgrade, sans-serif;
    font-weight: 700;

Upgrade Book
    font-family: upgrade-lights, sans-serif;
    font-weight: 500;

Upgrade Light
    font-family: upgrade-lights, sans-serif;
    font-weight: 400;

Tripper Rough
    font-family: tripper-rough, sans-serif;
    700, 900
    
*/

$color-background: #c30031;
$color-black-fade: #20062283;
$color-main: #0e5970bf;