header {
    .container {
        h1 {
            margin: $nav-block-size * 1.1 0 .12em 0;
            font-size: $main-header-size;
            line-height: $main-header-size / 1.2;
            font-weight: 500;
            color: $color-pink;
            letter-spacing: -0.09ex;
            hyphens: auto;
            text-shadow: -3px 3px $color-green;
            span {
                text-shadow: 3px -3px $color-green;
            }
        }
        .tagline {
            display: block;
            color: $color-green;
            font-size: 35.5px;
            margin: 0 0 1em 0;
        }
    }
}

