main {
    margin-bottom: 2em;
    color: white;
}

p {
    font-weight: 400;
    font-size: $font-size-lg;
    text-align: justify;
    line-height: $font-size-lg * 1.4;
    margin-bottom: $font-size-lg * 1.4;
}

.col2 {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 2em;
}

.col5 {
    position: relative;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(5, 1fr);
    h3 {
        column-span: all;
    }
    article {
        column-span: 1;
        p {
            a {
                //display: inline-block;
                transition: all 0.5s ease;
                color: $color-cyan;
                font-weight: 400;
                &:hover {
                    color: white;
                    animation: infame-skew 1s infinite linear alternate-reverse;
                }
            }
        }
    }
}

.hero {
    color: white;
    font-size: $font-size-hero;
    font-weight: 600;
    line-height: $font-size-hero;
    text-align: left;
}

.action {
    display: inline-block;
    color: white;
    vertical-align: middle;
    .btn {
        text-transform: none;
        letter-spacing: normal;
        color: white;
        border: 2px solid white;
        font-size: $font-size-hero/1.5;
        vertical-align: middle;
        margin-bottom: 1em;
        &:hover {
            background-color: $color-black-fade;
        }
    }
}

article {
    color: white;
    h4 {
        font-size: $font-size * 1.5;
        color: $color-green;
    }
    p {
        text-align: left;
    }
}