.breadcrumb {
   
    nav {
        position: absolute;
        z-index: 21;
        top: 18px;
        left: 82px;
        display: inline-block;
        list-style-type: none;
        li {
            list-style-type: none;
            font-size: 1.2rem;
            display: inline-block;
            padding-left: 1ex;
            span {
                text-shadow: -2px -2px rgba(0, 0, 0, .4);
            }
            &:first-child {
                a {
                    color: $color-white;
                    font-weight: 700;
                }
            }
            a {
                transition: all 1s ease;
                font-weight: 300;
                color: $color-white;
                &:hover {
                    color: $color-pink;
                }
            }
            &::before {
                display: inline-block;
                color: $color-white;
                content: '>';
                position: relative;
                left: -.7ex;
            }
        }
    }
}

.inactive {
    filter: opacity(.25);
}