@media (max-width: 800px) {
    header {
        .container {
            &.narrow {
                width: 100% !important;
            }
            h1 {
                font-size: $main-header-size * .40;
                line-height: $main-header-size * .367;
            }
            .tagline {
                font-size: $main-header-size * .15;
                transform: none;
                writing-mode: initial;
                position: relative;
                top: unset;
                height: auto;
            }
        }
    }

    .hero{
        font-size: $font-size-hero * 0.6;
        line-height: $font-size-hero * 0.6;
    }
    
    .nav-columns,
    .col2,
    .col5 {
        display: block;
    }

    form{
        margin: 1em 0;
        .form-unit{
            display: block;
            label{
                text-align: left;
                font-size: $font-size;
                line-height: $font-size * 1.8;
            }

            input,
            select,
            textarea{
                width: 100%;
            }
        }
    }

}