        /*
Este meú está:
url: https://www.youtube.com/watch?v=DZg6UfS5zYg
*/
        
.menu-wrap {
    position: absolute;
    font-family: "Raleway";
    z-index: 10;
    top: 0;
    left: 0;
    .toggler {
        z-index: 21;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: $nav-block-size;
        height: $nav-block-size;
        border: 0;
        opacity: 0;
                        
        &:checked{
            /* rotate on hover */
            &:hover+.hamburger>div {
                transform: rotate(225deg);
            }

            /* hamburger amination to x */
            +.hamburger {
                background-color: transparent;
                transition: background-color 10ms ease;
                >div {
                    transform: rotate(135deg);
                    &:before,
                    &:after {
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
            }

            /* toggle visibility */
            ~.menu {
                visibility: visible;
                >.navs-wrap {
                    transform: translateY(0);
                    transition-duration: 0.4s;
                    nav {
                
                        opacity: 1;
                        transition: opacity 0.4s ease;
                        transition-duration: 0.4s;
                     
                    }
                }
            
            }
        }

    }
    .hamburger {
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        width: $nav-block-size;
        height: $nav-block-size;
        padding: 1rem;
        background: $color-dark-fade;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .5s ease-in;
        
        /* hambuerger lines */
        >div {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -10px;
                width: 100%;
                height: 2px;
                background: inherit;
            }
            &:after {
                top: 10px;
            }
        }
    }
    .menu {
        position: relative;
        visibility: hidden;

        .navs-wrap {
            clip-path: polygon(0% 0%, 100% 0%, 100% 83%, 0% 100%);
            background-color: $color-dark-fade;
            width: 100vw;
            transform: translateY(-50vh);
            flex: none;
            transition: all 0.4s ease;
            .nav-columns{
                max-width: $max-width;
                margin: 0 auto;
                padding: 60px $page-padding 0 $page-padding;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-template-rows: repeat(5em);
            }

            nav {
                opacity: 0;
                transition: opacity 0.4s ease;
                width: 100%;
                margin-bottom: 6em;
                color: $color-white;

                h4 {
                    font-size: 1.2rem;
                    margin: 0 0 1em 0;
                }

                &#main-nav {
                    li{
                        list-style-type: none;
                        display: inline-block;
                        // width: 5.5em;
                        // height: 5.5em;
                        margin: 0 2em .53m 0;
                        a{
                            position: relative;
                            text-align: center;
                            border: .25pt solid transparent;
                            background-color: $color-dark-fade;
                            border-radius: 50%;
                            padding: 2em 0 0 0;
                            margin-left: 0;
                            color: $color-white;
                            font-weight: 400;
                            display: inline-block;
                            width: 5.5em;
                            height: 5.5em;
                            transition: all .5s ease;
                            &:hover{
                                background-color: $color-dark-fade;
                                border: .25pt solid $color-white;
                            }
                        }
                      
                    }
                }

                &#cat-nav {
                    font-family: upgrade, sans-serif;
        
                    font-style: normal;

                    h4{ font-weight: 800;}

                    li {
                        
                        font-size: 1.2rem;
                        line-height: 137%;
                        list-style-type: square;
                        a {
                            font-weight: 200;
                            color: $color-white;
                            transition: all .5s ease;
                            border: .25pt solid transparent;
                            display: inline-block;
                            padding: .4ex 1ex;
                            transition: all 0.4s ease;
                            border-radius: .5ex;
                            &:hover{
                                border: .25pt solid $color-white;
                                
                            }
                        }
                    }
                    
                }
                
            }
        }
    }
}