* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

a {
    cursor: pointer;
    font-weight: 800;
    text-shadow: 2px 2px rgba(0, 0, 0, .4);
    // box-shadow: 2px 2px rgba(0, 0, 0, .4);
}