body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient($color-blue-dark, $color-blue);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: $width-max;
    margin: 0 auto;
}

.page {
    padding: $page-padding $page-padding $page-padding*1.2 $page-padding;
    background-color: $color-page;
    color: $color-type;
    margin-bottom: .5em;
}

.intro {
    h3 {
        color: $color-background;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 19px;
        margin-bottom: 1.5em;
        letter-spacing: .25ex;
    }
    p {
        font-weight: 400;
        font-size: $font-size-lg;
        text-align: justify;
        hyphens: auto;
        line-height: $font-size-lg * 1.4;
        margin-bottom: $font-size-lg * 1.4;
    }
}

.hero {
    color: white;
    font-size: 42px;
    font-weight: 600;
    margin: 1em 0;
    width: 50%;
}