body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(190deg, $color-blue-dark, $color-blue);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    hyphens: auto;
}

p {
    font-size: $font-size;
}

a {
    text-decoration: none;
}

.page {
    padding: $page-padding $page-padding $page-padding*1.2 $page-padding;
    background-color: $color-page;
    color: $color-type;
    margin-bottom: .5em;
}

.intro {
    h3 {
        color: $color-background;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 19px;
        margin-bottom: 1.5em;
        letter-spacing: .25ex;
    }
    p {
        font-weight: 400;
        font-size: $font-size-lg;
        text-align: justify;
        line-height: $font-size-lg * 1.4;
        margin-bottom: $font-size-lg * 1.4;
    }
}